*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}
html, body {height: 100%}

/* Helpers */

.font-size-18{font-size: 18px}

p{
    font-size: 22px;
}
p a, p a:focus, p a:hover, p a:visited, p a:active {
    color: #a5a5a5;
    font-weight: bold;
    text-decoration: none;
}
body{
    text-align: center;
    height: 100%;
}
#container{
    position: relative;
    top: calc(50% - 140px);
}
#main-block{
    display: flex;
    width: 600px;
    margin: auto;
    text-align: left;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
}
#main-block > div{
    width: 46%
}
#logo-container{
    display: flex;
}
#logo-container img{
    width: 100%;
    display: block;
    margin-top: 18px;
}
.logo-text{
    font-family: 'Saira';
    font-size: 70px;
    line-height: 94px;
}
#sm-icons {
    /* border-top: 2px solid #888;
    border-bottom: 2px solid #888; */
    padding: 9px 0 5px;
    margin-top: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#sm-icons img{
    height: 30px;
}